apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-api
  namespace: sandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-api
  template:
    metadata:
      labels:
        app: go-api
    spec:
      containers:
        - name: go-api
          image: pskshksh/sandbox-go-api:v0.0.1
          imagePullPolicy: IfNotPresent
          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  key: DB_URL
                  name: postgres-secret
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              port: 8080
              path: /healthz
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              port: 8080
              path: /readyz
            initialDelaySeconds: 5
            periodSeconds: 10
